<html>
	<head>
		<title>Upload Questions</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
			{% for category, message in messages %}
			  <div class="{{ category }}">{{ message }}</div>
			{% endfor %}
		  {% endif %}
		{% endwith %}

		{% if success != None %}
			{% if success %}
				<h1>Questions Preview:</h1>
				{% for quiz_round in quiz_rounds %}
					<h2>Round {{ quiz_round.r_num }}: {{ quiz_round.description }}:</h2>
					{% for question in quiz_round.questions %}
						<div class="question">
							<strong>Question {{ question.q_num }} ({{ question.score }} points)::</strong><br>
							{{ question.question|safe }}
							<br><br>
							{% if question.type == 'choice' %}
							<strong>Choices:</strong><br>
							{{ question.choices }}
							<br><br>
							{% endif %}
							<strong>Answer(s):</strong><br>
							{{ question.answer|safe }}
						</div>
					{% endfor %}
				{% endfor %}
			{% else %}
				<h2>Looks like there was an error in your questions file 😢</h2>
				Please review the question writing instructions
			{% endif %}
			<hr>
		{% endif %}

		<h1>Upload questions</h1>
		<form action="/upload_questions" method="POST" enctype="multipart/form-data">
			<p><label for="questions_file">Please upload a questions file:</label></p>

			<p><input type="file" id="questions_file" name="questions_file" accept=".txt, .csv"></p>
			<input type="submit" name="file_upload" value="Upload">
		</form>
	</body>
</html>
